# ------------------------
# Visual Studio / IDE
# ------------------------
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

# ------------------------
# Build Artifacts / Binaries
# ------------------------
bin/
obj/
Debug/
Release/
*.dll
*.pdb
*.cache
*.log

# ------------------------
# NuGet / Packages
# ------------------------
*.nupkg
*.snupkg
packages/

# ------------------------
# EF Core / Migrations
# ------------------------
Migrations/

# ------------------------
# MongoDB local
# ------------------------
*.lock
*.db

# ------------------------
# Docker
# ------------------------
docker-compose.override.yml
*.env
*.dockerignore

# ------------------------
# OS / Misc
# ------------------------
.DS_Store
Thumbs.db
*.pem

# ------------------------
# Test Results
# ------------------------
TestResults/
*.trx
*.coverage
*.coveragexml

# ------------------------
# Node / Frontend
# ------------------------
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/
/build

# Testing
/coverage

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

